/********** 默认设置 **********/
html{
  font-size:100px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}
li{
 list-style: none;
}
/********* 清除浮动 **********/
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
body{
    font-size: 16px;
    color: #fff;
    font-family: "lanting";
    position: relative;
    background: #050e28;
    padding-left:0.4rem;
  }
  .title{
    font-size: .24rem;
    color: #fff;
    text-align: center;
    margin-top: 0.1rem;
    font-weight:normal; 
  }
  .time-box{
    position: absolute;
    top: 0.56rem;
    z-index: 99;
  }
  .time-box-title{
    float: left;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-right: 0.18rem;
  }
  .time-list{
    float: left;
    width: 1.54rem;
    height: 0.04rem;
    border: 1px solid #373e53;
    margin-right:0.09rem;
  }

/* 
  全省异常交易状况 */
  .yichang-box{
    position: absolute;
    top: 0.6rem;
  }
  .common-h{
    color: #fff;
    font-size: 0.16rem;
    font-weight: normal;
  }
  .common-h i{
    width: 0.04rem;
    height: 0.15rem;
    border-radius:0.05rem;
    background: #f4c75d;
    display: block;
    margin-right: 0.1rem;
    float: left;
    margin-top: 0.04rem;

  }
.yichang-ul{
  margin-top: 0.2rem;
}
.yichang-ul li{
  float: left;
  width: 2.04rem;
  height: 1.44rem;
  background: #0d152f;
  padding-left:0.15rem;
  padding-right:0.1rem;
}
.yichang-ul-tooltip{
  margin-top: 20px;
  margin-left:15px;
  margin-right: 10px;
}
.yichang-ul-tooltip li{
  width: 85%;
  height: 100%;
  background: #0d152f;
  padding-left:15px;
  padding-right:10px;
  padding-bottom: 14px;
}
.yichang-ul li:not(:last-child){
  margin-right:0.18rem;
}
.s-title{
  color: #818593;
  font-size: 0.14rem;
  margin-bottom: 0.14rem;
  margin-top:0.14rem;
}
.s-title-tooltip{
  color: #818593;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.l-title{
  color: #287be8;
  font-size:0.4rem;
  /*margin-bottom: 8px;*/
  font-family: Arial, Helvetica, sans-serif
}
.l-title-tooltip{
  color: #287be8;
  font-size:0.3rem;
  font-family: Arial, Helvetica, sans-serif
}
.cslb-box h4{
  font-weight: normal;
  font-size: 0.14rem;
  margin-bottom: 0.06rem;
  color: #ddc400;
}
.s-div{
  position: absolute;
  top: 2.8rem;
}
.percent-box{
  float: left;
}
.percent-s{
  width:3.24rem;
}
.percent-content{
  width: 4.20rem;
  height: 2.22rem;
}
.f-div{
  position: absolute;
  top:5.4rem;
}
.t-div{
  position: absolute;
  top:8.38rem;
}
.region-list{
  position: absolute;
  right: 0.4rem;
  top:9rem;
  /*height: 390px;*/
  /*overflow-y: scroll;*/
}
.div-map{
  right: 0rem;
  position: absolute;
  top: -0.1rem;
  z-index: 999;
}
#echarts{
  width: 1330px;
  height: 1066px;
}
#laydateInput{
width: 154px;
  height: 40px;
  background: transparent;
  color: #fff;
}
.time-list input{
  height: 40px;
  line-height: 40px;
  font-family:微软雅黑;
  width: 150px;
}
input{
  color: #fff;

}
.line{
  color: #373e53;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  margin-right:9px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ -webkit-appearance: none !important;}
input::-webkit-input-placeholder {
   color: #fff;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
   color: #fff;
}
#dpd3{
  height: 40px;
  line-height: 40px;
  width: 192px;
  float: left;
  border: 1px solid #373e53;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
   color: #fff;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: #fff;
}

input{
  background: transparent;
  padding-left: 6px;
}
.cslb{
  width: 1.60rem;
  background: #262d44;
  height: 0.1rem;
  border-radius:0.06rem;
  line-height: 0px;
  position: relative;
}
.cslb i{
  position: absolute;
  display: block;
  height: 10px;
  line-height: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation: warn 3s ease-out;
  -moz-animation: warn 3s ease-out;
  animation: warn 3s ease-out;
}
.cslb-1{
  background-image: -webkit-linear-gradient(top left, #0056ec, #7fe4ea);
}

.cslb-2{
  background-image: -webkit-linear-gradient(top left, #e5732a, #fff500);
}

.cslb-3{
  background-image: -webkit-linear-gradient(top left, #e04b4d, #eb9e7a);
}

/*@keyframes warn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes warn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}*/
#f-div-content{
  width: 4.70rem;
  height:3.10rem;
  top: -0.2rem;
  position: absolute;
}
.t-div-content{
  width: 4.70rem;
  height: 3.10rem;
  position: absolute;
  top: -0.08rem;
}
.region-name{

}
.region-name li{
  float: left;
  background: #0d152f;
  height:0.52rem;
  line-height:0.52rem;

}
.li1{
  width: 0.92rem;
  text-align: center;
}
.li2{
  width: 1.7rem;
  padding-right:0.36rem;
}
.li3{
  width: 1.60rem;
  padding-right: 0.36rem;
}
.li4{
  width: 2rem;
}
.region-content{
  overflow-y: scroll;
  height: 300px;
}
.region-content::-webkit-scrollbar {
  width: 12px;
  background-color: #262f4b;
  border-radius: 20px;
}

.region-content::-webkit-scrollbar-track {
  background-color: #5b6587;
}

.region-content::-webkit-scrollbar-thumb {
  background: #262f4b;
  width: 12px;
  border-radius: 20px;
}
.region-content li{
  height: 52px;
  line-height: 52px;
}
.region-content li div{
  float: left;
  text-align: center;
  height: 52px;
}
.region-num{
  line-height:32px;
}
.region-num i{
  float: left;
  display: block;
}
.region-num em{
  float: right;
  display: block;
  color: #9b9eaa;
}


.cslbb{
  width: 160px;
  background: #262d44;
  height: 10px;
  border-radius:6px;
  line-height: 0px;
  position: relative;
}
.cslbb i{
  position: absolute;
  display: block;
  height: 10px;
  line-height: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation: warn 3s ease-out;
  -moz-animation: warn 3s ease-out;
  animation: warn 3s ease-out;
}
.cslbb-1{
  background-image: -webkit-linear-gradient(top left, #0056ec, #7fe4ea);
}
.cslbb-2{
  background-image: -webkit-linear-gradient(top left, #fff500, #da6a2f);
}
.cslbb-3{
  background-image: -webkit-linear-gradient(top left, #e0494c, #eba07b);
}
.region-content li:nth-child(2n){
  background: #0d152f;
}