/********** 默认设置 **********/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
li{
 list-style: none;
}
/********* 清除浮动 **********/
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
body{
    font-size: 16px;
    color: #fff;
    font-family: "lanting";
    position: relative;
    background: #050e28;
    padding-left: 40px;
  }
  .title{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-weight:normal; 
  }
  .time-box{
    position: absolute;
    top: 56px;
    z-index: 99;
  }
  .time-box-title{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 18px;
  }
  .time-list{
    float: left;
    width: 154px;
    height: 40px;
    border: 1px solid #373e53;
    margin-right: 9px;
  }

/* 
  全省异常交易状况 */
  .yizhang-box{
    position: absolute;
    top: 128px;
  }
  .common-h{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
  }
  .common-h i{
    width: 4px;
    height: 15px;
    border-radius: 5px;
    background: #f4c75d;
    display: block;
    margin-right: 10px;
    float: left;
    margin-top: 4px;

  }
.yizhang-ul{
  margin-top: 20px;
}
.yizhang-ul li{
  float: left;
  width: 204px;
  height: 144px;
  background: #0d152f;
  padding-left:15px;
  padding-right: 10px;
}
.yizhang-ul li:not(:last-child){
  margin-right: 18px;
}
.s-title{
  color: #818593;
  font-size: 14px;
  margin-bottom: 14px;
  margin-top: 14px;
}
.l-title{
  color: #287be8;
  font-size:40px;
  /*margin-bottom: 8px;*/
  font-family: Arial, Helvetica, sans-serif
}
.cslb-box h4{
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 6px;
  color: #ddc400;
}
.s-div{
  position: absolute;
  top: 340px;
}
.percent-box{
  float: left;
}
.percent-s{
  width:324px;
}
.percent-content{
  width: 290px;
  height: 222px;
}
.f-div{
  position: absolute;
  top:580px;
}
.t-div{
  position: absolute;
  top:808px;
}
.region-list{
  position: absolute;
  right: 40px;
  bottom: 20px;
}
.div-map{
  right: 97px;
  position: absolute;
  top: -22px;
}
#echarts{
  width: 1330px;
  height: 1066px;
}
#laydateInput{
width: 154px;
  height: 40px;
  background: transparent;
  color: #fff;
}
.time-list input{
  height: 40px;
  line-height: 40px;
  font-family:微软雅黑;
  width: 150px;
}
input{
  color: #fff;

}
.line{
  color: #373e53;
  height: 40px;
  line-height: 40px;
  display: block;
  float: left;
  margin-right:9px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{ -webkit-appearance: none !important;}
input::-webkit-input-placeholder {
   color: #fff;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
   color: #fff;
}
#dpd3{
  height: 40px;
  line-height: 40px;
  width: 192px;
  float: left;
  border: 1px solid #373e53;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
   color: #fff;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: #fff;
}

input{
  background: transparent;
  padding-left: 6px;
}
.cslb{
  width: 160px;
  background: #262d44;
  height: 10px;
  border-radius:6px;
  line-height: 0px;
  position: relative;
}
.cslb i{
  position: absolute;
  display: block;
  height: 10px;
  line-height: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation: warn 3s ease-out;
  -moz-animation: warn 3s ease-out;
  animation: warn 3s ease-out;
}
.cslb-1{
  background-image: -webkit-linear-gradient(top left, #0056ec, #7fe4ea);
}

.cslb-2{
  background-image: -webkit-linear-gradient(top left, #e5732a, #fff500);
}

.cslb-3{
  background-image: -webkit-linear-gradient(top left, #e04b4d, #eb9e7a);
}

@keyframes warn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    transform: scale(0);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes warn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
#f-div-content{
  width: 470px;
  height: 210px;
}
.t-div-content{
  width: 470px;
  height: 210px;
}